.lightbulb {
    width: 200px;
}

.center {
    width: 1000px;
    margin: 0 auto;
}

.header {
    height: 120px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.header-inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-style: italic;
    font-size: 4rem;
    font-weight: bold;
}

.header-nav {
    margin-bottom: 40px;

    font-size: 1.2rem;
    font-weight: bold;
}

.header-nav a {
    text-decoration: none;
    color: red;

    -webkit-transition:  text-decoration 0.2s linear ;
    -moz-transition:  text-decoration 0.2s linear ;
    -o-transition:  text-decoration 0.2s linear ;
    transition:  text-decoration 0.2s linear ;
}

.header-nav a:hover {
    text-decoration: underline;
}







.content-inner {
    display: flex;
    justify-content: space-between;
}

.content-section {
    width: 690px;
}

.content-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.content-subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.content-list li {
    list-style-type: circle;
    margin-bottom: 5px;
}





















